*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    }
    .form-content {
        background: linear-gradient(
            50deg,
            rgba(40,42,55,1) 50%,
            rgba(40,42,55,0,7) 
            ),
            url();
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 50px;
            width: 1000px;
            border-radius: 25px;
            }
            .form-content h2 {
                color: aquamarine;
                font-size: 40px;
                margin-bottom: 25px;
                }

            form {
                display: flex;
                flex-direction: column;
                width: 50%;
                }
                label {
                    font-size: 17px;
                    color: blue;
                    margin-bottom: 10px;
                    }

                    input , textarea {
                        padding: 17px 14px;
                        background-color: bisque;
                        border: 0;
                        font-size: 15px;
                        color: aquamarine;
                        margin-bottom: 20px;
                        border-radius: 10px;
                        }

                    .focus {
                        outline: 1px solid chocolate;
                        }

                        .btn {
                            background-color: blueviolet;
                            width: 150px;
                            align-self: flex-end;
                            cursor: pointer;
                            }

                            .btn:hover {
                                background-color: black;
                                }


       